spring:
  application:
    name: COLLABIDE

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver


  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true


  sql:
    init:
      mode: never

logging:
  level:
    org.springframework.web.socket: DEBUG
    org.springframework.messaging: DEBUG

app:
  auth:
    base-url: ${AUTH_SERVICE_URL}

server:
  port: ${PORT:8082}